goap/obsolete
*.sdf
ipch/
*.opensdf
*.suo
*.sln
Test/
Frame/
goap/action_dump.txt
goap/bin/
goap/obj/
goap/goap.cbp
goap/goap.depend
goap/goap.layout

/.vs/
/x64/
/goap/x64/
/goap/goap.vcxproj.user
